@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-main;
}

@layer base {
  h1 {
    @apply text-4xl tracking-[0.38em] font-medium theme-animation;
  }

  @font-face {
    font-family: 'Geist';
    font-style: normal;
    src: url(../fonts/GeistVF.woff2) format('woff2');
  }

}

@layer components {
  .theme-animation {
    @apply transition-colors duration-700;
  }

  .text-1 {
    @apply text-lg font-normal;
  }
}


